body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

a {
    text-decoration: none;
    color: #003366;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: #003366;
    padding: 5px 10px;
    border-radius: 5px;
}

h2 {
    color: #003366;
}

p {
    font-size: 16px;
    line-height: 1.6;
}
